# Игнорируем файлы с инвентаризацией (список хостов)
inventory/
hosts
ansible.cfg

# Игнорируем временные файлы и логи
*.log
*.retry

# Игнорируем SSH-ключи и приватные файлы
*.pem
*.key
id_rsa
id_rsa.pub

roles/user/
